@model UsExpress.Transport.Web.FrontEnd.Models.RetsetPassModel

@{
    ViewBag.Title = "Reset Pass";
}

<div class="cms_nav">
    <div class="container">
    </div>
</div>
<div class="container">
    <div class="mt30 mb40 width_100">
        @using (Ajax.BeginForm("ResetPass", "Home", new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "OnSuccess",
            OnBegin = "OnBegin"
        }, new { @class = "form_cms", @id = "login_cms" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div style="padding:15px; padding-bottom:1px">
                <div class="form-group width-100">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Password" })
                    <i class="fas fa-user"></i>
                    <div class="error">
                        @Html.ValidationMessageFor(model => model.Password)
                    </div>
                </div>
                <div class="form-group width-100">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", @placeholder = "ConfirmPassword" })
                    <i class="fas fa-user"></i>
                    <div class="error">
                        @Html.ValidationMessageFor(model => model.ConfirmPassword)
                    </div>
                </div>
                <div class="form-group center">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    <script>
        function OnSuccess(avg) {
            hideLoading();
            notification(avg.Result === 1 ? notifiType.success : notifiType.error, avg.Message, avg.Result === 1 ? "Success" : "Faile");
            if (avg.Result === 1) {
                setTimeout(function () {
                     location.href = '@Url.Action("Login","Home")';
                }, 1500)
            }
        }

        function OnBegin() {
            showLoading();
        }
    </script>
}