@model  UsExpress.Transport.Web.FrontEnd.Models.StoreModel

@{
    ViewBag.Title = "DetailStore";
}
<style>
    .form_cms {
        max-width: 500px;
        margin: 0 auto;
    }
</style>

<div class="cms_nav">
    <div class="container">
        @{
            System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("en-GB");
            <div class="right">@DateTime.Now.ToString("MMM-dd-yyyy", culture)</div>
        }
    </div>
</div>
<div class="container">
    <div class="mt30 mb40">

        @using (Ajax.BeginForm("InsertStore", "StoreNoLogin", new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "OnSuccess"
        }, new { @class = "form_cms", @id = "frm_create_store" }))
        {


            <h2>Create Store Account</h2>
            <div class="warp">
                <div class="form-group width-100">
                    @Html.TextBoxFor(x => x.StoreAccount.FullName, new { @class = "form-control", @placeholder = "Full Name", @style = "width: 60%;display: inline-block;" })


                    <i class="fas fa-user"></i>
                </div>
                <div class="form-group width-100">
                    <div class="form-group width-100">
                        @Html.TextBoxFor(x => x.StoreAccount.StoreName, new { @class = "form-control", @placeholder = "Store's Name", @style = "width: 60%;display: inline-block;" })
                        @*@Html.TextBoxFor(x => x.StoreAccount.Code, new { @class = "form-control", @placeholder = "Code", @style = "width: 35%;display: inline-block;margin-left:5%;padding-left: 10px;", @data_id = "-1" })*@
                        <i class="fas fa-store-alt"></i>
                    </div>
                    <i class="fas fa-store-alt"></i>
                </div>

                <div class="form-group width-100">
                    @Html.TextBoxFor(x => x.StoreAccount.Address1, new { @class = "form-control", @placeholder = "Address 1" })
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="form-group width-100">
                    @Html.TextBoxFor(x => x.StoreAccount.Address2, new { @class = "form-control", @placeholder = "Address 2" })
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="form-group width-100" style="width:70%">
                    @Html.TextBoxFor(x => x.StoreAccount.CityId, new { @class = "form-control", @placeholder = "City" })
                    <i class="fa fa-university"><img src="images/icons/city.png" alt=""></i>
                </div>

                <div class="form-group">
                    <div style="width:60%; display: inline-grid;">

                        @Html.TextBoxFor(x => x.StoreAccount.StateId, new { @class = "form-control", @placeholder = "State" })
                    </div>
                    <div style="width: 30%; display: inline-grid; margin-left: 20px;">
                        @Html.TextBoxFor(x => x.StoreAccount.Zip, new { @class = "form-control", @placeholder = "Zip" })
                    </div>



                </div>
                <div class="form-group width-100">
                    @Html.TextBoxFor(x => x.StoreAccount.Phone, new { @class = "form-control", @placeholder = "Phone" })
                    <i class="fas fa-mobile-alt"></i>
                </div>

                <div class="form-group width-100">
                    @Html.TextBoxFor(x => x.StoreAccount.Email, new { @class = "form-control", @placeholder = "Email" })
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="form-group width-100">
                    @Html.PasswordFor(x => x.StoreAccount.Password, new { @class = "form-control", @placeholder = "Password" })
                    <i class="fas fa-lock"></i>
                </div>
                <div class="form-group width-100 btn_bottom">
                    <button type="submit" class="btn btn-default">Sign up</button>
                    @*<button type="button" onclick="ResetForm()" class="btn btn-default">Reset</button>*@
                    <a href="/Home/Login" class="btn btn-default">Cancel</a>
                </div>


            </div>
        }
    </div>
</div>
@section Scripts {
    <script src="~/scripts/object-prototype/store.js"></script>
    <script>
        Store.ValidateStoreForm();
        function ResetForm() {
            $('#frm_create_store')[0].reset();
        }

        function OnSuccess(avg) {
            alert(avg.Message);
            if (avg.Result > 0) {
                window.location.href = '/login';
            }
        }
        $(function () {

            $("#StoreAccount_StateId").autocomplete({
                source: availableState
            });
        });
    </script>
}
