
@{
    ViewBag.Title = "ProductCatelogy";
}

@*<div class="cms_nav">
        <div class="container">

        </div>
    </div>
    <div class="container">
        <div class="manage_order mt20">
            <h1>Manage Category</h1>


            <div class="tr tr3">
                <div class="mb20 cms_col_left">

                </div>
                <div class="table_cms mb20 cms_col_right">
                    <div class="tr tr1 mb10 right">
                        @using (Ajax.BeginForm("AJXSearch", "Catelogy", new AjaxOptions
                        {
                            HttpMethod = "POST",
                            UpdateTargetId = "divSearchResult"
                        }, new { @id= "search" }))
                        {
                            <input type="text" class="input_search" name="txtkeyword" value="" placeholder="Tìm kiếm">
                            <button type="submit" class="icon_seach_web"><i class="fa fa-search"></i></button>
                        }
                    </div>
                    <div id="divSearchResult">

                        @Html.Action("_CatelogyGrid")
                    </div>


                </div>

                <div id="divUpdate" class="mb20 cms_col_300">

                    @Html.Partial("_CatelogyDetailForm")

                </div>

            </div>

        </div>
    </div>*@

<div class="cms_nav">
    <div class="container">
        @Html.Action("_HeaderPage", "Home")
    </div>
</div>
<div class="container">
    <div class="manage_order mt20">
        <h1>Manage Category</h1>
        <div class="tr tr1 mb10">
            @using (Ajax.BeginForm("AJXSearch", "Category", null, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "divSearchResult",

            }, new {  }))
            {
                <div id="search" class="mb20">
                    <input type="text" class="input_search" name="txtkeyword" value="" placeholder="Search">
                    <button type="submit" class="icon_seach_web"><i class="fa fa-search"></i></button>
                </div>

                <div class="form-group">
                    <select name="SearchType" class="form-control">
                        <option value="1">Code</option>
                        <option value="2">Category</option>
                    </select>
                </div>
              
            }
           
        </div>

        <div class="tr tr3">
            <div id="divSearchResult">

                @Html.Action("_CategoryGrid")
            </div>

            <div  id="divUpdate" class="mb20 cms_col_300">
                @Html.Partial("_CategoryDetailForm")
            </div>

        </div>

    </div>
</div>

@section Scripts {
    <script src="~/scripts/object-prototype/category.js"></script>

    <script>
        Category.ValidateInsertForm();
        function OnSuccess(avg) {
            alert(avg.Message);
            if (avg.Result > 0) {
                location.reload(true);
            }
        }
        function ReloadValidate() {
            Category.ValidateInsertForm();
        }
    </script>
}