@model UsExpress.Transport.Lib.Business.Models.DBContext.UsTransport.tblWarehouse
@{
    ViewBag.Title = "DetailWareHouse";
}

@{ 
    bool IsUpdate = false;
    bool IsActive = false;
    if(Model != null && Model.id > 0)
    {
        IsUpdate = true;
        IsActive = Model.Status != null ? bool.Parse(Model.Status.ToString()) : false;
    }
}
<style>
    .form_cms {
        max-width: 500px;
        margin: 0 auto;
    }
</style>

<div class="cms_nav">
    <div class="container">
        @{
            System.Globalization.CultureInfo culture = new System.Globalization.CultureInfo("en-GB");
            <div class="right">@DateTime.Now.ToString("MMM-dd-yyyy", culture)</div>
        }

    </div>
</div>
<div class="container">
    <div class="mt30 mb40">
        @using (Ajax.BeginForm("UpdateWarehouse", "Warehouse", new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "OnSuccess"
        }, new { @class = "form_cms", @id = "frm_create_warehouse" }))
        {
            if(IsUpdate)
            {
                <input type="hidden" id="hId" name="id" value="@Model.id" />
            }
            <h2>@(IsUpdate ? "Update" : "Create") Warehouse's Account</h2>
            <div class="warp">
                <div class="form-group width-100">
                    @Html.TextBoxFor(x => x.FullName, new { @class = "form-control", @placeholder = "Full Name", @style = "width: 60%;display: inline-block;" })
                    <i class="fas fa-user"></i>
                </div>
                <div class="form-group width-100">

                    @Html.TextBoxFor(x => x.Warehouse, new { @class = "form-control", @placeholder = "Warehouse's name", @style = "width: 60%;display: inline-block;" })
                    @*@Html.TextBoxFor(x => x.Warehouse, new { @class = "form-control", @placeholder = "Warehouse ID", @style = "width: 35%;display: inline-block;margin-left:5%;padding-left: 10px;" })*@

                    <i class="fas fa-store-alt"></i>
                </div>

                <div class="form-group width-100">

                    @Html.TextBoxFor(x => x.Add1, new { @class = "form-control", @placeholder = "Address 1" })
                    <i class="fas fa-map-marker-alt"></i>

                </div>
                <div class="form-group width-100">

                 
                    @Html.TextBoxFor(x => x.Add2, new { @class = "form-control", @placeholder = "Address 2" })
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="form-group width-100" style="width: 60%;display: inline-block;">
                    @Html.TextBoxFor(x => x.CityId, new { @class = "form-control", @placeholder = "City" })
                    <i class=""><img src="/content/images/icons/city.png" alt=""></i>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(x => x.StateId, new { @class = "form-control", @placeholder = "State", @style = "width:45%;    display: inline-block;" })
                    @Html.TextBoxFor(x => x.Zip, new { @class = "form-control", @placeholder = "ZIP", @style = "width:50%;    display: inline-block;margin-left:5%;" })

                </div>
                <div class="form-group width-100">
                    @Html.TextBoxFor(x => x.Phone, new { @class = "form-control", @placeholder = "Phone" })
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <div class="form-group width-100">
                    @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="form-group width-100" style="width:70%">
                    <select id="Status" name="Status" class="form-control">

                        <option value="true">Active</option>
                        <option value="false" @(!IsActive ? "selected" : "")>Non-Active</option>
                        <i class="fa fa-industry"><img src="/content/images/icons/city.png" alt=""></i>
                    </select>

                </div>

                <div class="form-group width-100 btn_bottom">
                    <button type="submit" class="btn btn-default">@(IsUpdate ? "Update" : "Add")</button>
                    <button type="button" class="btn btn-default">Cancel</button>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {

    <script src="~/scripts/object-prototype/Warehouse.js"></script>
    <script>
        WareHouse.Innit();
        function OnSuccess(avg) {
            alert(avg.Message);
            if (avg.Result > 0) {
                window.location.href = '/WareHouse/Manager';
            }
        }
        $(function () {

            $("#StateId").autocomplete({
                source: availableState
            });
        });
    </script>
}