@using PagedList.Mvc
@model PagedList.IPagedList<UsExpress.Transport.Lib.Business.Models.DBContext.UsTransport.tblStoreAccount>

<table class="table">
    <thead>
        <tr>
            <th style="width:2%"></th>
            <th style="width:2%">STT</th>
            <th>Stores Code</th>
            <th>Store's name</th>
            <th>Full Name</th>
            <th>Address line 1</th>
            <th>Address line 2</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            int i = ViewBag.Index ?? 1;
            foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">
                        <input type="checkbox" data-id="@item.id" name="chkActive"/>
                    </td>
                    <td class="text-center">@i</td>
                    <td style="color:#236852">@item.Code</td>
                    <td>@item.StoreName</td>
                    <td>@item.FullName</td>
                    <td>@item.Address1</td>
                    <td>@item.Address2</td>
                    @*<td>@Html.Raw(Html.Action("GetCityNameByID", "Common", new { cityID = item.CityId }))
                        </td>
                         <td>@Html.Raw(Html.Action("GetStateNameByID", "Common", new { stateID = item.StateId }))</td>*@
                    <td>@item.CityId</td>
                    <td>@item.StateId</td>
                    <td>@item.Zip</td>
                    <td>@item.Phone</td>
                    <td>
                        @if (!UsExpress.Transport.Web.FrontEnd.Common.Libs.IsStore())
                        {
                            <a style="color:#236852;border-bottom:1px solid #236852" href="javascript:void(0)" data-id="@item.id" name="active">hide</a>
                            <a style="color:#236852;border-bottom:1px solid #236852" href="/Store/DetailStore/@item.id">update</a>
                        }
                    </td>
                </tr>
                i++;
            }
        }

    </tbody>
</table>
<div id="container" style="margin-left: 20px">
    <p></p>
    <p></p>
    <div class="pagination" style="margin-left: 400px">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Manager", new { page }))
    </div>
</div>
