@using UsExpress.Transport.Web.FrontEnd.Models
@{
    ViewBag.Title = "CreateOrder";
    //OrderModel orderDetail = (OrderModel)ViewBag.OrderDetail;
    List<CategoryModel> category = (List<CategoryModel>)ViewBag.Category;
    List<SelectItemBase> citySender = (List<SelectItemBase>)ViewBag.CitySender;
    List<SelectItemBase> cityRecipient = (List<SelectItemBase>)ViewBag.CityRecipient;
    var productList = ViewBag.ProductList;
    UsExpress.Transport.Lib.Business.Models.ProductDTO productItem = new UsExpress.Transport.Lib.Business.Models.ProductDTO();
}
<section id="main_container" class="width_100" ng-app="OrderApp" ng-controller="OrderController as orderCtrl">
    @Html.Partial("_OrderModel")
</section>
}
@section headcss {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/scripts/select2/select2.css")" />
}

@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/scripts/select2/select2.js")"></script>
    <script src="~/scripts/angularjs/moment.min.js"></script>
    <script src="~/scripts/angularjs/angular.min.js"></script>
    <script src="~/scripts/angularjs/angular-filter.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="~/scripts/angularjs/angular-moment.min.js"></script>
    @*<script src="~/Scripts/angularjs/ui-bootstrap-tpls-0.13.0.js"></script>*@
    <script>
        angular
            .module('OrderApp', ['angular.filter', 'ngMaterial','angularMoment'])
    </script>

    <script>
        var orderId         = 0;
        var category        = @(Html.Raw(Json.Encode(category)));
        var citySender      = @(Html.Raw(Json.Encode(citySender)));
        var cityRecipient   = @(Html.Raw(Json.Encode(cityRecipient)));
        var productList = @(Html.Raw(Json.Encode(productList)));
        var productItem = @(Html.Raw(Json.Encode(productItem)));
        var lsProductDescription = [];
        var lsBarcode = [];
        if(productList != null)
        {
            $.each(productList, function(index, item){
                lsProductDescription.push(item.Description);
                lsBarcode.push(item.BarCode)
            });
        }
     
       
       
    </script>
    <script src="~/scripts/model/order/orderCtrl.js"></script>
}



