@using PagedList.Mvc
@model  PagedList.IPagedList<UsExpress.Transport.Lib.Business.Models.ProductDTO>

<div class="table_cms mb20 cms_col_right">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th style="width:2%">STT</th>
                    <th>Description</th>
                   
                    <th>Barcode</th>
                    <th>Category</th>
                    <th>Schedule b Code</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @if (Model != null && Model.Count > 0)
                {
                    int i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td class="text-center">@i</td>
                            <td>@item.Description</td>
                            <td>@item.BarCode</td>
                            <td>@item.CategoryName</td>
                            <td>@item.ScheduleBCode</td>
                            <td>
                                @using (Ajax.BeginForm("AJXUpdateForm", "Product", new AjaxOptions
                                {
                                    HttpMethod = "POST",
                                    //OnSuccess = "ReloadValidate",
                                    UpdateTargetId = "divUpdate"
                                }))
                                {
                                    <input type="hidden" name="updateID" value="@item.id" />
                                    if (UsExpress.Transport.Web.FrontEnd.Common.Libs.IsAdmin() || UsExpress.Transport.Web.FrontEnd.Common.Libs.IsCSKH())
                                    {
                                        <button type="submit" style="color: #236852;background: #fff;border: none;border-bottom: 1px solid;">update</button>
                                    }

                                }
                            </td>
                        </tr>
                        i++;
                    }
                }



            </tbody>
        </table>
        <div id="container" style="margin-left: 20px">
            <p></p>
            <p></p>
            <div class="pagination" style="margin-left: 400px">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("Manage", new { page }))
            </div>
        </div>
    </div>
</div>